<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">

  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

  <!-- TODO #1 - Use a loop to display job results in a table. -->
  <div th:fragment="jobs-list">
  <table class="job-listing" th:each="job : ${jobs}">
    <th:block>
      <tr>
        <th>ID</th>
        <td th:text="${job.id}"></td>
      </tr>
      <tr>
        <th>Name</th>
        <td th:text="${job.name}"></td>
      </tr>
      <tr>
        <th th:text="${#strings.capitalizeWords('Employer')}"></th>
        <td>
          <a th:href="@{/list/byColumnType(value=${job.employer.value})}" th:text="${job.employer.value}">
          </a>
        </td>
      </tr>
      <tr>
        <th th:text="${#strings.capitalizeWords('Location')}"></th>
        <td><a th:href="@{/list/byColumnType(value=${job.location.value})}" th:text="${job.location.value}">
        </a>
        </td>
      </tr>
      <tr>
        <th th:text="${#strings.capitalizeWords('Position Type')}"></th>
        <td><a th:href="@{/list/byColumnType(value=${job.positionType.value})}" th:text="${job.positionType.value}">
        </a>
        </td>
      </tr>
      <tr>
        <th th:text="${#strings.capitalizeWords('Skill')}"></th>
        <td><a th:href="@{/list/byColumnType(value=${job.coreCompetency.value})}" th:text="${job.coreCompetency.value}">
        </a>
        </td>
      </tr>
    </th:block>

  </table>
</div>
</div>
</body>
</html>